<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personalized Study Planner</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Personalized Schedule Study Planner</h1>
    <!--Jinja Variable Interpolation to display the error from the backend-->
    {%if error %}
    <div>
        {{error}}
    </div>
    {% endif %}    
    
    <form method="post">
        <label>What Topics would you like to cover  e.g regex, pandas:</label><br>
        <input type="text" name="topics" required><br>

        <label>Total Weekly Study Hours:</label><br>
        <input type="number" name="hours" step="0.1" required><br>

        <label>Deadline (YYYY-MM-DD):</label><br>
        <input type="text" name="deadline" required><br>

        <p>Enter priorities (1-5, 5 is highest):</p>
        
            
                <label>Priority for :</label>
                <input type="number" name = "priorities"  min="1" max="5" required><br>
         
        <button type="submit">Create Schedule</button>
    </form>
     <!--Jinja2 template block that takes in the pythin dictionary and prints outs the schedule of its not empty-->
    <div>
        <h2>Your Personal Study Schedule</h2>  
        <ul>
        {% for topic, plan in schedule.items() %}
          <li><strong>{{ topic }}</strong>: {{ plan }}</li>
        {% endfor %}  
        </ul>
    </div>
</body>
</html>